/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/CopilotIndices
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/FileContentIndex
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/v17
/OktaOpenIDConnectDemo/OktaOpenIDConnectDemo/obj
