/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/CopilotIndices
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/FileContentIndex
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/v17
/OktaOpenIDConnectDemo/OktaOpenIDConnectDemo/obj
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/config
/OktaOpenIDConnectDemo/OktaOpenIDConnectDemo/bin
/OktaOpenIDConnectDemo/.vs/OktaOpenIDConnectDemo/copilot-chat
